.contenedorCart-blue{
    height: 100%;
    display: flex;
    color: blue;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.contenedorCart-white{
    height: 100%;
    display: flex;
    color:grey;
    align-items: center;
    justify-content: center;
    gap: 10px
}


.numero{
    font-size: 25px;    
}

.linkCartWidget{
    text-decoration: none;
}