.contenedorItemCard{
    border: 3px red solid;
}
.contenedorItemCard:hover{
    transform: scale(1.05);  
    border: 3px #2a75bb solid;
    -webkit-box-shadow: 4px -3px 38px 0px #2a75bb;
    -moz-box-shadow: 4px -3px 38px 0px #2a75bb;
    box-shadow: 4px -3px 38px 0px #2a75bb;
}

.contenedorItem{
    display: flex;
    flex-direction: column;
}

.contenedorItem2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.contenedorItemTipos{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.imagenItem{
    width: 250px;
    height: 250px;
}

.textoItem1{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    height: auto;
    margin:0;
    text-align: center;
}

.textoItem2{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    height: auto;
    margin:0;
    text-align: center;
}

.textoItem3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    height: auto;
    margin:0;
    margin-left: 10px;
    font-weight: bold;
    text-align: left;
}

.linkItem{
    color:black;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
}

.linkItem:hover{
    font-weight: bold;
}

.botonAtrapaloItem{
    width: 14rem;
    height: 2rem;
    margin: 10px 20px;
    background-color:#ffcb05;
    font-weight: bold;
    border: 3px;
    border-style:inset;
    border-color: #2a75bb;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    color: blue; 
}